@page
@model SGPP.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <img src="~/img/ucb_logo.png" alt="UCB Logo" height="150" class="mb-4">
    <h1 class="display-4 text-ucb-blue fw-bold">Bienvenido al SGPP</h1>
    <p>Sistema de Gestión de Prácticas Profesionales</p>
    <a href="/Account/Login" class="btn btn-primary btn-lg mx-2">Iniciar Sesión</a>
    <a href="/Account/Register" class="btn btn-outline-primary btn-lg mx-2">Registrarse</a>
</div>
